<p id="notice"><%= notice %></p>

<p>
  <b>Userid:</b>
  <%= @user.user_id %>
</p>

<p>
  <b>Username:</b>
  <%= @user.user_name %>
</p>

<p>
  <b>Age:</b>
  <%= @user.user_age %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
